/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: hsl(249, 15%, 74%);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left-side{
   position: relative;
   padding: 40px;
}

 .profiletxt{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

 }
 
 .profiletxt .proimg{
     position: relative;
     width: 260px;
     height: 260px;
     overflow: hidden;
 }

 .profiletxt .proimg img{
    position: absolute;
    top: 0;
    margin-left: 35px;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .profiletxt .protxt{
     background: hsl(250, 28%, 12%);
     width: 280px;
     height: 100px;
     border-radius: 15px;
 }
 .profiletxt h2{
     color: #fff;
     padding: 8px;
     font-size: 1.5rem;
     margin-top: 20px;
     text-transform: uppercase;
     text-align: center;
     font-weight: 600;
     line-height: 1.4rem;
 }

 .profiletxt h2 span{
     font-size: 0.8em;
     font-weight: 300;
 }

 .info{
     padding-top: 40px;
 }
 .title{
     color:hsl(250, 69%, 61%) ;
     font-weight: 200;
     letter-spacing: 1px;
     margin-bottom: 10px;
 }

 .info ul{
     position: relative;
 }

 .info ul li 
 {
     position: relative;
     list-style: none;
     cursor: pointer;
     margin: 5px 0;
 }

 .info ul li .icon{
     display: inline-block;
     width: 30px;
     font-size: 18px;
     color: hsl(250, 28%, 12%);
 }

 .info ul li span {
     color: hsl(250, 28%, 12%);
     font-weight: 200;
 }

 .info .lang .percent{
     position: relative;
     width: 100%;
     height: 6px;
     background:hsl(250, 28%, 12%);
     display: block;
     border-radius: .25rem;
 }

 .info .lang .percent div{
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     border-radius: .25rem;
     background: hsl(250, 69%, 61%);
 }

 .container .right-side{
    position: relative;
    padding: 40px;
 }

 .title2{
    color:hsl(250, 69%, 61%) ;
    font-weight: 800;
    font-size: 18px;
}

.rsdiv{
    display: inline-block;
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
}

p{
    color: #333;
    font-size: 14px;
}

.content{
   column-count: 2;
   column-gap: 20px;
   margin-bottom: -140px;
}

.cont{
    padding: 10px 0;
}
.cont span{
    color:hsl(250, 28%, 12%);
    font-size: 14px;
    font-weight: 500;
}
.uicon{
    width: 50px;
    height: 50px;
    shape-outside: circle(50%);
    float: right;
    margin-top: 6px;
}
.eicon{
    width: 40px;
    height: 40px;
    shape-outside: circle(50%);
    float: right;
    margin-top: 6px;
    border-radius: 50%;
}
h4{
    color: hsl(250, 28%, 12%);
    font-weight: 700;
    font-size: 16px;
    font-style: bold;
}
.port img{
    width: 240px;
    height: 220px;
}
@media screen and (max-width:760px){
    .content{
        column-count: 1;
     }
}

@media screen and (max-width:1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .content{
        margin-bottom: 0;
     }
}
